<!-- //to create login page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
    <%- include('common/header');%><!--using this we can easily incude our common header file in it-->
    <h1>Login Page</h1>
</body>
</html>